/*
{border: 1px red solid;
}*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 100vh;
    margin: 0;
     
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
ul{
    list-style: none;
    padding: 0px;
    margin:0px;
    display: flex;
    font-size: 18px;
}
li{
    padding: 8px;
}
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}
            .logo{
            font-size: 24px;
            color: #f9faf8;
            padding: 8px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left:25%;
            
          
                    }
            .links{
                padding: 16px;
                display: flex;
                justify-content: space-evenly;
                margin-right: 25%;
                    }
.content{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    /*border: 1px red solid;*/
    flex: 1;
}
    .top   {
                background-color: #1f2937;
                color: #f9faf8;
                display: flex;
                justify-content:space-evenly;
                margin:150px 0px;
                gap:32px;
                margin-right: 25%;
                margin-left: 25%;
            }
            

            .top-left{
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1 ;

                
            }
                     .title{
                    font-size: 48px;
                    font-weight: 900;
                    padding: 0px 8px;
                      }
                    .text{
                        font-size: 18px;
                        padding: 8px 8px;
                    }
                    button{
                        background-color: #3882f6;
                        border: 0px;
                        color: #e5e7eb;
                        padding: 8px 32px;
                        border-radius: 5px;
                                         }
                                       .button{  font-weight: 900;
                                    padding: 0px 8px;}
            .top-right{
                flex: 1;
                
                display: flex;
                }
                .image-holder{
                    background-color: gray;
                    width: 250px;
                    height: auto;
                    flex-grow: 1;
                    flex-shrink: 0;
                    flex-basis: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
    .second{
        display: flex;
        background-color: white;
        flex: 1;
        justify-content: center;
        padding: 100px 0px;
     
    }
            .second-content{
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-left: 25%;
                margin-right: 25%;
            }
            .random{
                font-size: 36px;
                font-weight: 900;
                color: #1f2937;
                text-align: center;
                margin-bottom: 32px;
            }
            .boxes{
                display: flex;
                justify-content: space-evenly;
                gap: 8px;
                

                    }
                    .boxy{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 8px;
                    }
                .box{
                    flex-shrink: 0;
                    padding: 36px;
                    border: 5px #3882f6 solid ;
                    border-radius: 5%;
                    width: 150px;
                    height: 150px;
                    }
                    .box-text{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 8px;
                        text-align: center;


                    }
    .third{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    }

.third-content{
flex: 1;
display: flex;
flex-direction: column;
margin-left: 25%;
margin-right: 25%;
margin-top: 32px;
margin-bottom: 32px;

}
.quote{
    color: #1f2937;
    font-style: oblique;
    font-size: 36px;
    padding: 48px;
}
.quoter{
display: flex;
justify-content: right;
color: #1f2937;
font-weight: 900;
}

.fourth{
background-color: #f9faf8;
flex:1;
display: flex;
justify-content: center;
align-items: center;

}
.fourth-content{   
    background-color: #3882f6;
    display: flex;
    
    flex:1;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 16px 8px;
    border-radius: 15px;
    color: #f9faf8;
    justify-content: space-evenly;
    gap:16px;
    
 }
 .fourth-left{
    display: flex;
    flex-direction: column;
    padding: 16px;
 }
 .titler{
    font-weight: 900;
    padding: 8px;
    font-size: 24px;
 }
 .texty{
    padding-left: 8px;
    font-size: 18px;
 }

.signup
{border: 1px white solid;}

.buttoner{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.footer {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    height: 72px;
    text-align: center;
    justify-content: center;
    align-items: center;
}